
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Inter", sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #1059af;
    background-color: #f2f6ff;
}

.container {
    max-width: 120rem;
    padding: 0 3.2rem;
    margin: 0 auto;
}

.heading-primary,
.heading-secondary {
    font-weight: 700;
    letter-spacing: -0.5px;
    color: #1059af;
}

.heading-primary {
    font-size: 5.2rem;
    line-height: 1.05;
    margin-bottom: 3.2rem;
}

.heading-secondary {
    font-size: 4.2rem;
    line-height: 1.2;
}
