<footer class="section-footer">
    <div class="container">
        <div class="footer-info">
            <p class="footer-p">Финансов пример - Кандидатствате за кредит на стойност 600 лева със срок на договора 3
                месеца. Лихвата за
                посочения период е в размер на 41,46 лева. Общата сума за връщане е 641,46 лева, а годишният процент на
                разходите (ГПР) за финансовия пример – 49,68%. Минимален срок на погасяване 90 дни. Максимален срок на
                погасяване 360 дни.</p>
            <nav class="footer-nav">
                <ul class="footer-list">
                    <li class="footer-item">
                        <a class="footer-link" href="#">Поверителност</a>
                    </li>
                    <li class="footer-item">
                        <a class="footer-link" href="#">Права за ползване</a>
                    </li>
                    <li class="footer-item">
                        <a class="footer-link" href="#">Общи условия</a>
                    </li>
                    <li class="footer-item">
                        <a class="footer-link" href="#">Банкови сметки</a>
                    </li>
                </ul>
            </nav>    
        </div>
    </div>
</footer>