/* #e8f1ff */
.section-footer {
    background-color: #e8f1ff;
    height: 20rem;
}

.footer-p {
    text-align: center;
    font-size: 1.4rem;
    padding: 2rem;
}

.footer-nav {
    text-align: center;
}

.footer-list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.footer-item {
    padding: 2rem 1rem;
    font-size: 1.6rem;
}

.footer-link {
    text-decoration: none;
    color: #1059af;
    
}