<header>
    <div class="container">
        <nav class="nav">
            <div class="logo">
                <a href="/">
                    <img class="img-logo" src="../../../assets/faviconCredit.png" alt="">
                </a>
                <h3 class="heading-secondary">Бърз Кредит</h3>
            </div>
            <ul class="navbar">
                <li class="nav-item">
                    <a class="nav-link" href="#">Кредити</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Въпроси</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Контакти</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn-cta" routerLink="/login">Вход за Клиенти</a>
                </li>
            </ul>
        </nav>
    </div>
</header>